<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <style>
        * {
            font-family: 'Mitr', sans-serif;
        }

        #inspire {
            background: #ebf8f1 url(img/Login/bg.png) no-repeat padding-box;
            background-size: cover;
            display: flex;
            justify-content: center;
            min-height: 100vh;
        }

        .v-tab--active {
            background-color: white;
            color: black !important;
        }

        @media screen and (max-width:600px) {
            .card-main {
                width: 95% !important;
            }
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app id="inspire" style="padding-top: 120px;">
            <img style="width: 206px; margin: 0 auto;" src="img/Login/icon.png">
            <v-card class="mx-auto card-main" style="width: 400px; margin-top: 28px;">
                <v-tabs background-color="grey lighten-5" light v-model="tab">
                    <v-tabs-slider color="#1d8649"></v-tabs-slider>
                    <v-tab style="width: 50%; font-size: 20px; padding: 5px 0px; font-size: 18px;">เข้าสู่ระบบ</v-tab>
                    <v-tab style="width: 50%; font-size: 20px; font-size: 18px;">สมัครสมาชิก</v-tab>
                </v-tabs>
                <v-tabs-items v-model="tab" style="padding: 30px;">
                    <v-tab-item :key="เข้าสู่ระบบ">
                        <div class="col-md-12">
                        <v-form ref="form" v-model="valid" lazy-validation>

                            <v-text-field v-model="email" :rules="emailRules" label="อีเมล" required></v-text-field>

                            <v-text-field v-model="password" :rules="passRules" label="รหัสผ่าน" required></v-text-field>

                            <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate" style="width: 100% ; margin-top: 20px;">
                                LOG IN
                            </v-btn>

                        </v-form>
                    </div>
                    </v-tab-item>
                    <v-tab-item :key="สมัครสมาชิก">
                        <v-card-text>eiei</v-card-text>
                    </v-tab-item>
                </v-tabs-items>
            </v-card>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
            data() {
                return {
                    tab: null,
                    valid: true,
                    items: ["One", "Two"],
                    text:
                        "L  orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                    email: '',
                    emailRules: [
                        v => !!v || 'กรุณากรอกอีเมล',
                        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                    ],
                    password: '',
                    passRules: [
                        v => !!v || 'กรุณากรอกรหัสผ่าน',
                        v => (v && v.length <= 6) || 'กรุณากรอกรหัสผ่านมากกว่า 6 ตัว',
                    ],
                };
            },
            methods: {
                validate() {
                    this.$refs.form.validate()
                    console.log(this.email)
                },
            },
        });

    </script>
</body>

</html>
